@CHARSET "ISO-8859-1";

.backDrop{
	
	background-image:url("back.jpeg");
	
	  /* Add the blur effect */
      filter: blur(8px);
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
  
.enterWithIcon input[type=password]{
	padding-right:40px;
	
	
}

.enterWithIcon{
	position: relative;
}

.enterWithIcon button {
		
	margin:auto;
   text-align: center;
   vertical-align: middle;
   position: absolute;
  top: 50%;
  left: 61.5%;
  transform: translate(-50%, -50%);
 
  width: 4.5%;
	
	
}


}
html,body {
	
	
  height:100%;
  width:100%;
  margin:0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	text-align: center;
}





p{
	
	font-size: 22px;
}

a{
	
	font-size: 12px;
}


form {
      margin:auto;
    width: 100%;
   text-align: center;
   vertical-align: middle;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}
/* Style the text boxes */


input[type=text], input[type=password]{
  width:28%;
  height:52px;
  padding: 12px 20px;
  margin: 0px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 18px;
  Align: center;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
  
}



button:hover {
  opacity: 0.5;
}
